@model IEnumerable<MVCTurnera.Models.PrestadorMedico>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatriculaProfesional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MailMedico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoMedico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionCalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionAltura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionCP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionLocalidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatriculaProfesional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailMedico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonoMedico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionCalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionAltura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionCP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionLocalidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPrestador">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPrestador">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPrestador">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
